/***
Theme color - #673AB7 /violet
Theme color - #000000 /Black
Checkbox active color - #694fb8
Next button hover - #311B92
**/
* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: #000000;
    font-weight: normal
}
body{
    background: url(../img/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 12px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 13px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #000000;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    /* background: #1c1919; */
    background: #01ffda;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #000000
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 18px;
    color: #302727;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #000000;
    font-weight: normal
}

.steps {
    font-size: 18px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #basic:before {
    font-family: FontAwesome;
    content: "\f007" 
    
}

#progressbar #diet:before {
    font-family: FontAwesome;
    content: "\f0f5"
}

#progressbar #exercise:before {
    font-family: FontAwesome;
    content: "\f0e7"
}

#progressbar #goals:before {
    font-family: FontAwesome;
    content: "\f073"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 26px;
    height: 26px;
    line-height: 23px;
    display: block;
    font-size: 14px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 13px auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #000000
}

.progress {
    height: 10px
}

.progress-bar {
    background-color: #3a3a3a;
}

.fit-image {
    width: 100%;
    object-fit: cover
}
/* ravi css */
.logo_div {background: #d3d3d3;border-radius: 4px;}
.alert-secondary{font-size: 13px;text-align: center;}
.exercise_intensity_light , .exercise_intensity_moderate , .exercise_intensity_intense{font-size: 14px;}
.perspiration_level_light , .perspiration_level_moderate , .perspiration_level_intense{font-size: 14px;}
fieldset select:focus{border-color: #060606 !important; box-shadow: 0 0 0 0.2rem rgb(34 34 34 / 25%) !important;}
/**************************************Custom checkbox and radio**************************************************/
.labl {
    display : block;
}
.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border: 1px solid #5e5c5c61;
    padding: 12px 2px;
    border-radius: 4px;
    font-size: 16px;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #e1dad6;
    border: 1px solid #000000;
    padding: 12px 0px;
    border-radius: 4px;
    font-size: 17px;
}
/*************************************************custom range slider********************************/
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #000000;
    cursor: pointer;
    border-radius:50%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }